.h5p-sql-question pre.h5p.sql-question.output-table {

}

.h5p-sql-question .page.sql-table pre.h5p.db-table {
    overflow: scroll;
    max-height: 300px;
    width: 100%;
    font-size: 10px;
    font-family: monospace;
    line-height: 1em;
    color: white;
}

.h5p-sql-question .h5p-ace-editor .sql-table-button {
  background-color: #658e9c;
}

.h5p-sql-question .testcases-area {
    background-color: #222;
    color: white;
    padding: 5px;
}

.h5p-sql-question .sql-console {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;


}

.h5p-sql-question .sql-console .console-column {
    overflow: scroll;
    padding: 5px;
    border: 1px solid #444;

}

.h5p-sql-question .sql-console .console-column .output-table,
.h5p-sql-question .sql-console .console-column .db-table {
    width: 100%;
    max-height: 300px;
    overflow: scroll;
    font-size: 10px;
    font-family: monospace;
    line-height: 1em;
    color: 222;
}

.h5p-sql-question .sql-console .console-column .db-table.no-match {
    color: rgb(219, 177, 87);
}

.h5p-sql-question .sql-console .console-column .db-table.match {
    color: rgb(99, 211, 150);
}

.h5p-sql-question .sql-console .console-column  .error {
    color: rgb(196, 102, 119);
}

